#pa_container{
    position:relative;
       display:none;
}
#pa_overlay{
  width:100%;
    height:100%;
    position: absolute;
    top:0px;
    z-index: 2;
    background-color: #111;
    opacity:0.7; 
}
  @-webkit-keyframes node 
      {
         0%{ top:0px; }
         50%{ top:10px; }
         100% { top:0px;} 
       }
  @-webkit-keyframes node2
      {
         0%{ top:-5px; }
         50%{ top:10px; }
         100% { top:-5px;} 
       }
.pa_circ{
  -webkit-backface-visibility: hidden;
   margin: 60px auto;
  width: 180px; height: 180px;
  background-color: #111;
  border-radius: 0px 0px 50px 50px;
  position: relative;
  z-index: -1;  
  left: 0%;
  top: 20%;
  overflow: hidden;
}
.pa_load{  position: absolute;
  width: 100px; height: 50px;
   margin: -10px auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Julius Sans One', sans-serif;
  font-size:10px;
  font-weight:400;
  color:white;
  left: 10%;
  top: 5%;
}
 body{margin: 0px;padding: 0px;background-color:#F5F5F5;}