#mypage {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: url(gears.gif);
    background-repeat: no-repeat;
    background-position: center;
}